// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@font-face {
	font-family: 'Impact';
	src: url('../fonts/Impact.eot');
	src: url('../fonts/Impact.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Impact.woff') format('woff'),
		url('../fonts/Impact.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

@import "scss/variables";
@import "scss/mixins";
@import "scss/keyframes";
@import "scss/general";
@import "scss/header";
@import "scss/footer";
@import "scss/home";
@import "scss/login";
@import "scss/receipt";
@import "scss/game";
@import "scss/win";
