.footer {
	font-size: 12px;
	letter-spacing: 1px;
	padding: 12px 0;
	position: relative;
	z-index: 0;

	.popcorn-footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 1;
		pointer-events: none;
		img {
			width: 100%;
		}
	}
	.container {
		z-index: 2;
	}

	p {
		margin: 0;
	}

	@media all and (max-width: $xxs-end) {
		font-size: 10px;
	}

	@media all and (min-width: $sm-start) {
		text-align: center;
		padding: 16px 0;
	}
}
