.game {
    position: relative;

	&.single-page-container {
		padding: 0;
	}

    &-level h2, &-progress {
        font-size: 20px;
	}

	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: $impact;
		padding-bottom: 10px;
	}

    &-level {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
			letter-spacing: 1px;
			margin: 0;
			@media all and (max-width: $xxs-end) {
				font-size: 1.25rem;
			}
        }

        .btn {
            margin-left: 10px;
            width: 38px;
            height: 38px;
            position: relative;
            img {
                width: 28px;
                position: absolute;
                top: calc(50% - 14px);
                left: calc(50% - 14px);
            }
        }
	}

	&-timer {
		width: 75px;
		font-size: 1.75rem;
		@media all and (max-width: $xxs-end) {
			font-size: 1.25rem;
		}
	}

    &-progress {
		width: 90px;
		text-align: right;
        line-height: 44px;
        padding-left: 35px;
        position: relative;

		> div {
			display: inline-block;
		}

        &-image {
			width: 50px;
			height: 44px;
			position: absolute;
			left: -15px;

			img {
				position: absolute;
				left: 0;
			}

			&:before, &:after {
				content: '';
				position: absolute;
				border-radius: 50%;
				background: $yellow;
				border: 1px solid $black;
				opacity: 0;
			}

			&:before {
				width: 6px;
				height: 6px;
				top: 23%;
				right: 13%;
				transform-origin: 16px center;
			}

			&:after {
				width: 4px;
				height: 4px;
				top: 13%;
				left: 13%;
				transform-origin: -8px center;
			}
		}

		&--add {
			.game-progress {
				&-current {
					animation: addPointText .3s $ease-in-out-expo;
				}
				&-image {
					img {
						animation-name: addPoint;
					}

					img, &:before, &:after {
						animation: {
							duration: .8s;
							timing-function: ease-in-out;
						}
					}

					&:before {
						animation-name: addPointParticle-1;
						animation-delay: .2s;
					}

					&:after {
						animation-name: addPointParticle-2;
					}
				}
			}
		}
	}

	&-section {
		display: none;
		animation: fadeIn .3s ease;

		&--hide {
			animation: fadeOut .3s ease forwards;
		}

		&-btns {
			width: 270px;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: calc(1vmax + 16px) auto;

			@include if-ie {
				margin: 2rem auto;
			}

			.text-link {
				display: inline-block;
				margin-top: calc(1vmax + 16px);

				@include if-ie {
					margin-top: 2rem;
				}
			}
		}

		&-lose {

			h2 {
				margin-bottom: calc(1vmax + 16px);

				@include if-ie {
					margin-bottom: 2rem;
				}
			}

			.btn, .misc-links, .text-link {
				opacity: 0;
			}

			.btn {
				animation: fadeInUp .3s $ease-in-out-back .2s forwards;
			}

			.misc-links, .text-link {
				animation: fadeIn .2s ease .5s forwards;
			}
		}

		&-win {
			animation: fadeIn .3s ease forwards;

			h2 {
				margin-bottom: calc(1vmax + 16px);

				@include if-ie {
					margin-bottom: 2rem;
				}
			}
			h3 {
				font-family: $impact;
				letter-spacing: 1px;
			}
			h4 {
				font-weight: bold;
			}

			.btn {
				animation: fadeInUp .3s $ease-in-out-back .2s forwards;
				& + .btn {
					animation-delay: .35s;
					margin-top: 1rem;
				}
			}

			h3, .btn, .misc-links, .text-link {
				opacity: 0;
			}

			h3 {
				animation: bounceFadeIn .3s $ease-in-out-back .85s forwards;
			}

			.misc-links, .text-link {
				animation: fadeIn .2s ease .7s forwards;
			}
		}

		&-play {
			height: calc(100vh - #{$header-h + $footer-d-h});
			min-height: #{300 + $game-header-h};

			@media all and (max-width: $xs-end) {
				height: calc(100vh - #{$header-h + $footer-m-h});
			}
		}
	}

	&-body {
		height: calc(100% - #{$game-header-h});
		position: relative;
		overflow: hidden;
	}

    &-image {
        height: 100%;
        pointer-events: none;
        will-change: transform;
    }

    &-container {
        height: 100%;
        width: 100%;
        background: $grey-dark;
        overflow: hidden;
		text-align: center;

		&:before, &:after {
			position: absolute;
			z-index: 1;
		}

		&:before {
			content: 'LOADING';
			font-family: $impact;
			color: $white;
			letter-spacing: 2px;
			font-size: 32px;
			top: calc(50% - 24px);
			left: calc(50% - 60px);
		}

		&:after {
			content: '';
			width: 200px;
			height: 5px;
			top: calc(50% + 30px);
			left: calc(50% - 100px);
			background: $yellow;
			animation: loader 1s ease-in-out infinite;
		}

        &.hide-move-indicator + .game-move-indicator {
            opacity: 0;
		}

		&.show-move-indicator + .game-move-indicator {
			display: flex;
		}
	}

	&-view {
		height: 100%;
		margin: auto;
		position: relative;
		z-index: 2;
		opacity: 0;
		pointer-events: none;
		transition: opacity .3s ease;
		box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);

		&--show {
			opacity: 1;
			pointer-events: auto;
		}
	}

    &-move-indicator {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
		left: 0;
		z-index: 5;
        pointer-events: none;
        display: none;
		transition: opacity .2s ease;

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: $black;
            opacity: .2;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        &-container {
            text-align: center;
            margin: auto;
            position: relative;
            z-index: 2;
            color: $white;
            font-size: 12px;
            letter-spacing: 1px;
            text-shadow: 0 0 5px $black;
            img {
                display: block;
                margin-top: 8px;
            }
        }

        &.image-focus {
            opacity: 0;
        }
    }
}

.game-popup {
	h2 {
		margin-bottom: 1rem;
		font-family: $impact;
		font-size: 36px;
	}

	h4 {
		font-weight: bold;
	}

	&-levels {
		@include reset-ul;
		display: flex;
		justify-content: space-between;
		margin: 0 auto 1.5rem;
		max-width: 280px;
		position: relative;

		@media all and (max-width: $xxs-end) {
			margin-bottom: 1rem;
		}

		&:before, &:after {
			content: '';
			position: absolute;
			top: calc(50% - 2px);
			width: 3px;
			height: 3px;
			background: $black;
			border-radius: 50%;
			box-shadow: -6px 0 $black, 6px 0 $black, -12px 0 $black, 12px 0 $black;
			@media all and (max-width: $xxs-end) {
				box-shadow: -6px 0 $black, 6px 0 $black;
			}
		}

		&:before {
			left: calc(31.5% - 2px);
		}

		&:after {
			left: calc(69.5% - 2px);
		}

		li {
			position: relative;

			&.active {
				.level-indicator {
					opacity: 1;
					border-color: $black;
					transition-duration: .35s;

					&:before {
						animation: levelUnlock .3s linear;
					}

					&:after {
						transform: scale(1);
						transition-duration: .3s;
						transition-delay: .15s;
					}

					span {
						opacity: 1;
						transition-duration: .2s;
						transition-delay: .25s;
					}
				}
			}

			&.complete {
				.level-indicator {
					&:before {
						opacity: 0;
						z-index: 4;
						width: 30px;
						height: 30px;
						top: calc(50% - 15px);
						left: calc(50% - 15px);
						background-image: url('/images/tick.svg');
						animation: levelComplete .3s $ease-in-out-back .1s forwards;
					}

					span {
						opacity: 0;
						transition-duration: .1s;
					}
				}
			}
		}
	}

	&-content {
		display: none;

		&.active {
			display: block;
		}
	}

	&__header {
		display: none;
	}

	&.game-intro {
		.game-popup__header {
			display: block;
		}
	}
}

.level-indicator {
	width: 58px;
	height: 58px;
	border: 2px solid $white;
	box-sizing: content-box;
	color: $white;
	background: rgba(0, 0, 0, 0.5);
	font-size: 36px;
	font-family: $impact;
	display: flex;
	position: relative;
	overflow: hidden;
	transition: border-color 0s ease;
	opacity: .3;

	&:before, &:after {
		content: '';
		position: absolute;
	}

	&:before {
		content: '';
		width: 50px;
		height: 50px;
		background: url('/images/lock.svg') center/contain no-repeat;
		top: calc(50% - 25px);
		left: calc(50% - 25px);
		z-index: 1;
	}

	&:after {
		width: 200%;
		height: 200%;
		top: calc(50% - 58px);
		left: calc(50% - 58px);
		border-radius: 50%;
		background: $yellow;
		transform: scale(0);
		transition: transform 0s ease-in;
		z-index: 2;
	}

	span {
		margin: auto;
		position: relative;
		z-index: 3;
		opacity: 0;
		transition: opacity 0s ease;
	}
}

.game-answer {
	position: absolute;
	z-index: 5;
	width: 100%;
	padding: 8px;
	background: rgba(255, 255, 255, .95);
	box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.1);
	max-width: 350px;
	display: none;

	&--show {
		display: block;

		&.game-answer {
			animation: showAnswer .35s $ease-out-expo forwards;
		}

		.game-answer-list {
			animation: fadeIn .2s ease .15s forwards;
		}
	}

	&--hide {
		&.game-answer {
			animation: hideAnswer .2s $ease-out-expo .1s forwards;
		}

		.game-answer-list {
			animation: fadeOut .2s ease forwards;
		}
	}

	&-list {
		@include reset-ul;
		width: 100%;
		height: 336px;
		max-height: calc(100vh - #{$header-h + $footer-d-h + $game-header-h});
		overflow-y: auto;
		overflow-x: hidden;
		opacity: 0;

		li {
			width: 100%;
			position: relative;
			z-index: 1;
		}
	}

	&-btn {
		border: 0;
		width: 100%;
		background: none;
		display: flex;
		align-items: center;
		font-family: $roboto;
		letter-spacing: 1px;
		cursor: pointer;

		&--answered {
			color: $grey;
			opacity: .7;

			.game-answer-image {
				filter: grayscale(100%);
			}
		}
	}

	&-image {
		width: 50px;
		display: inline-block;
		margin-right: 8px;
	}

	&-title {
		line-height: 1;
		text-align: left;
		display: inline-block;
		width: calc(100% - 50px);
		padding: 12px 0;
		margin: 0;
		border-bottom: 1px solid $grey-light;
	}
}

.game-question {
	position: absolute;
	z-index: 1;

	&-container {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}

	&-popcorn {
		position: absolute;
		width: 40px;
		height: 40px;
		top: calc(50% - 20px);
		left: calc(50% - 20px);
		box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.6);
		background: radial-gradient(circle at center, transparent, rgba(255, 255, 255, .4));
		border-radius: 50%;
		animation: popcornReveal .3s $ease-out-expo forwards;

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: url('/images/popcorn-bucket.svg') center/contain no-repeat;
			animation: popcornPin .8s ease-in-out .3s infinite;
			will-change: transform;
		}
	}
}

.game-pin {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	font-size: 12px;
	letter-spacing: 1px;
	border: 1px solid;
	padding: 6px 12px;
	transform-origin: center bottom;
	animation: showPin .3s linear;
	pointer-events: none;
	background: $grey-light;
	color: $black;
	border-color: $grey-dark;
	box-shadow: inset 0 0 0 3px $grey-light, inset 0 0 0 4px $grey-dark;
	transition-property: background, color, border;
	transition-duration: .3s;
	transition-timing-function: ease;

	&:before, &:after {
		content: '';
		position: absolute;
		left: calc(50% - 6px);
		border: {
			width: 8px 6px;
			color: transparent;
			style: solid;
		}
	}

	&:before {
		top: calc(100% - 1px);
		z-index: 2;
		border-top-color: $grey-light;
	}

	&:after {
		top: calc(100% + 1px);
		z-index: 1;
		border-top-color: $grey-dark;
	}

	&-container {
		@extend .game-question-container;
		pointer-events: none;
		z-index: 2;
	}

	&__text {
		width: 100px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin: 0;
	}

	&--right {
		background: $yellow;
		box-shadow: inset 0 0 0 3px $yellow, inset 0 0 0 4px $grey-dark;

		&:before {
			border-top-color: $yellow;
		}
	}

	&--wrong {
		pointer-events: auto;
		padding-right: 32px;
		background: $grey-dark;
		color: $white;
		border-color: $white;
		box-shadow: inset 0 0 0 3px $grey-dark, inset 0 0 0 4px $white;
		transform: translateX(-10px);
		cursor: pointer;

		&:before {
			border-top-color: $grey-dark;
		}

		&:after {
			border-top-color: $white;
		}

		.game-pin__text {
			&:after {
				content: '';
				width: 20px;
				height: 20px;
				background: url('/images/close.svg') center/contain no-repeat;
				position: absolute;
				top: calc(50% - 10px);
				right: 4px;
			}
		}
	}

	&--remove {
		animation: removePin .3s $ease-out-expo forwards;
	}
}
