:root {
    font-size: 16px;
}

html, body {
    margin: 0;
    background: $brown url('/images/main-bg.jpg') top center/cover no-repeat;
    font-family: $roboto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

a {
	&, &:hover, &:focus, &:active {
		text-decoration: none;
	}
}

a, button {
	&:focus {
		outline: none;
	}
}

.text-link {
    font-weight: bold;
    position: relative;

	&, &:hover, &:focus, &:active {
		color: $red;
	}

    &:before {
        content: '';
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $red;
    }
}

.btn {
    padding: 12px;
    border-radius: 0;
    border: 1px solid;
    font-family: $impact;
    font-size: 28px;
    letter-spacing: 2px;
    transition: color .2s ease;
	text-transform: uppercase;
	width: 270px;
	max-width: 100%;
	cursor: pointer;
	transition: {
		property: border-color, box-shadow;
		duration: .2s;
		timing-function: ease;
	}

    &-primary {
		border-color: $white;
		box-shadow: inset 0 0 0 4px $grey-dark, inset 0 0 0 5px $white;

        &, &:hover, &:focus, &:active {
			background: $grey-dark;
            color: $yellow;
        }

		&:hover, &:focus, &:active {
			border-color: $yellow;
            box-shadow: inset 0 0 0 4px $grey-dark, inset 0 0 0 5px $yellow, 0 0 10px 0 $yellow;
        }
	}

	&-facebook {
		text-align: left;
		padding-left: 80px;
		border-color: $white;
		box-shadow: inset 0 0 0 4px $blue-fb, inset 0 0 0 5px $white;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			height: 26px;
			width: 26px;
			top: calc(50% - 13px);
			left: 43px;
			background: url('/images/facebook-logo.png') center/contain no-repeat;
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve">
				<path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803   c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654   c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246   c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z" fill="%23FFFFFF"/>
			</svg>');

			@include if-ie {
				background-image: url('/images/facebook-logo.png');
			}
		}

        &, &:hover, &:focus, &:active {
			background: $blue-fb;
            color: $white;
        }

		&:hover, &:focus, &:active {
			border-color: $blue-fb;
            box-shadow: inset 0 0 0 4px $blue-fb, inset 0 0 0 5px $white, 0 0 10px 0 $blue;
        }
	}

	&.disabled {
		opacity: 1;
		color: $grey;

		&, &:hover, &:focus, &:active {
			border-color: $white;
			background: $grey-dark;
			box-shadow: inset 0 0 0 4px $grey-dark, inset 0 0 0 5px $white;
		}
	}
}

.hide {
	display: none;
}

.single-page {
	&-container {
		min-height: calc(100vh - #{$header-h + $footer-d-h});
		padding-top: calc(1vmax + 16px);
		padding-bottom: calc(1vmax + 16px);

		@include if-ie {
			padding-top: 32px;
			padding-bottom: 32px;
		};

		& & {
			height: 100%;
		}

		@media all and (max-width: $xs-end) {
			min-height: calc(100vh - #{$header-h + $footer-m-h});
		}
	}
	&-form {
		width: 80%;
		margin: 0 auto;
		min-width: 200px;
		max-width: 300px;
		@media all and (min-width: $sm-start) {
			max-width: none;
		}
	}
}

.date-input {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: calc(50% - 16px);
		right: 8px;
		width: 32px;
		height: 32px;
		background: url('/images/calendar.svg') center/contain no-repeat;
		pointer-events: none;
	}
}

.datetime-picker {
	&.dtpicker-mobile {
		.dtpicker-content {
			width: calc(90% - 10px);
		}
	}
	.dtpicker {
		&-cont {
			border: 0;
		}
		&-bg {
			font-family: $roboto;
		}
		&-content {
			padding: 0;
			box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.1);
			animation: fadeIn .3s ease;
		}
		&-header {
			margin: 0;
			padding: 0 24px;
		}
		&-title {
			display: none;
		}
		&-close {
			font-size: 0;
			color: $grey-dark;
			background: $grey-dark;
			border: 1px solid $white;
			box-shadow: inset 0 0 0 4px $grey-dark, inset 0 0 0 5px $white;
			width: 40px;
			height: 40px;
			top: -15px;
			right: -15px;
			opacity: 0;
			animation: bounceFadeIn .3s ease .1s forwards;

			&:after {
				content: '';
				width: 20px;
				height: 20px;
				background: url('/images/close.svg') center/contain no-repeat;
				position: absolute;
				top: calc(50% - 10px);
				right: calc(50% - 10px);
			}
		}
		&-value {
			padding: 24px 0 8px;
			color: $black;
			font-weight: bold;
			border-bottom: 1px solid $grey-light;
		}
		&-compButton {
			font-weight: bold;
			font-size: 24px;
			&:not([href]) {
				&, &:hover, &:focus, &:active {
					color: $red;
				}
			}
		}
		&-compValue {
			font-size: 24px;
			&, &:hover, &:focus, &:active {
				color: $black;
			}
			&:focus {
				background: $grey-light;
			}
		}
		&-buttonCont {
			display: flex;
			flex-direction: column;
			margin: 0;
			padding-bottom: 24px;
		}
		&-buttonSet {
			@extend .btn;
			@extend .btn-primary;

			margin: 0 auto;
			&:not([href]) {
				&, &:hover, &:focus, &:active {
					color: $yellow;
				}
			}
		}
		&-buttonClear {
			display: none;
		}
	}
}

.form-control {
	letter-spacing: 1px;
    padding: 16px 24px;
    border-radius: 0;
    text-align: center;
    border: 0;

    &, &:hover, &:focus, &:active {
        background: none;
    }

	@at-root .date-input & {
		padding-left: 48px;
		padding-right: 48px;

		&[readonly] {
			background: none;
		}
	}

    &-wrapper {
        position: relative;
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
    }

    &-indicator {
        height: 3px;
        width: 100%;
        background: $grey-dark;
        position: absolute;
        bottom: 0;
		will-change: transform;

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            transform: scaleX(0);
            transition: opacity .2s ease, transform 0s linear .2s;
            background: $yellow;
            opacity: 0;
        }
	}

	&-error {
		display: block;
		color: $red;
		margin: 4px auto 0;
		animation: fadeIn .2s ease;
	}

    &:focus + &-indicator {
        &:before {
            opacity: 1;
            transform: scaleX(1);
            transition: transform .2s ease;
        }
    }
}

.fancy-bold {
	font-family: $impact;
	color: $red;
	text-shadow: .05em .05em 0 $black;
	letter-spacing: 2px;
}

.text-highlight {
    color: $red;
}

.popup-menu {
	background: radial-gradient(circle at center, $brown-light, $brown-dark);
	position: relative;
	margin: auto;
	width: 90%;
	max-width: 500px;
	max-height: calc(100vh - 50px);
	text-align: center;
	padding: calc(2vmax + 30px) 30px;
	opacity: 0;
	display: none;
	will-change: transform;

	@include if-ie {
		padding: 3rem 30px;
	}

	&:before, &:after {
		content: '';
		position: absolute;
		height: 20vmax;
		width: calc(100% + 20vmax);
		left: -10vmax;
		pointer-events: none;
	}

	&:before {
		background: url('data:image/svg+xml;utf8,<svg id="Objects" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 115"><defs><style>.cls-1{fill:%236d4f12;}.cls-2{fill:url(%23linear-gradient);}</style><linearGradient id="linear-gradient" x1="-1534.89" y1="1554.56" x2="-1476.44" y2="1554.56" gradientTransform="matrix(0, 1, 1, 0, -1303.7, 1569.53)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffe58d"/><stop offset="0.43" stop-color="#ffde94"/><stop offset="1" stop-color="#a3561c"/></linearGradient></defs><title>mobile_treasure-head</title><path class="cls-1" d="M452.27,57.14,446.1,82.57l-11.35,9.06L423.06,88s-19.13-28.08-18-30.42,16.29-14,16.29-14,15.17-4.1,16.86-1.76S452.27,57.14,452.27,57.14Z"/><path class="cls-2" d="M435.34,92.22l-217.92-25L67.32,87.33,47.94,60.61,62.45,43.91l65.38,10S239.2,43.85,246.46,43.85,437.73,33.77,437.73,33.77l14.54,23.38-24.22-10L408.69,65.51l21.72,21.77,8.95-2.22,3.93-7.61-4.51-14s-5.06,0-6.74,1.17-2.81,4.1-2.81,4.1l5.62,1.17,3.37-1.59-2.81,6.61h-6.18L423,66.78s9-5.66,11.24-6.84,8.43,2.84,10.12,4.6,3.38,16.29,1.7,18-10.76,9.35-10.76,9.35l-.59-.31Z"/></svg>') center/contain no-repeat;
		top: -9.7vmax;
	}

	&:after {
		background: url('data:image/svg+xml;utf8,<svg id="Objects" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 115"><defs><style>.cls-1{fill:%236d4f12;}.cls-2{fill:url(%23linear-gradient);}</style><linearGradient id="linear-gradient" x1="-1015.15" y1="1039.56" x2="-956.69" y2="1039.56" gradientTransform="translate(-783.96 -923.54) rotate(-89.97)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffe58d"/><stop offset="0.43" stop-color="#ffde94"/><stop offset="1" stop-color="#a3561c"/></linearGradient></defs><title>mobile_treasure-head</title><path class="cls-1" d="M457.27,68.85,451.1,43.42l-11.35-9.06L428.06,38s-19.13,28.08-18,30.42,16.29,14,16.29,14,15.17,4.1,16.86,1.76S457.27,68.85,457.27,68.85Z"/><path class="cls-2" d="M440.34,33.77l-217.92,25L72.32,38.66,52.94,65.37,67.45,82.08l65.38-10S244.2,82.14,251.46,82.14,442.73,92.22,442.73,92.22l14.54-23.38-24.22,10L413.69,60.48l21.72-21.77,8.95,2.22,3.93,7.61-4.51,14s-5.06,0-6.74-1.17-2.81-4.1-2.81-4.1l5.62-1.17,3.37,1.59-2.81-6.61h-6.18L428,59.2s9,5.66,11.24,6.84,8.43-2.84,10.12-4.6,3.38-16.29,1.7-18S440.34,34,440.34,34l-.59.31Z"/></svg>') center/contain no-repeat;
		bottom: -9.7vmax;
	}

	@media all and (min-width: $sm-start) {
		&:before, &:after {
			height: 120px;
			width: calc(100% + 100px);
			left: -50px;
		}

		&:before {
			background-image: url('data:image/svg+xml;utf8,<svg id="Objects" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 759 115"><defs><style>.cls-1{fill:%236d4f12;}.cls-2{fill:url(%23linear-gradient);}</style><linearGradient id="linear-gradient" x1="-1314.31" y1="-570.05" x2="-1244.02" y2="-570.05" gradientTransform="translate(-183.76 1337.47) rotate(90)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffe58d"/><stop offset="0.43" stop-color="#ffde94"/><stop offset="1" stop-color="#a3561c"/></linearGradient></defs><title>mid-size_treasure-head</title><path class="cls-1" d="M743.47,47.15,736.4,76.27l-13,10.38L710,82.46S688.09,50.3,689.38,47.62,708,31.54,708,31.54s17.38-4.7,19.31-2S743.47,47.15,743.47,47.15Z"/><path class="cls-2" d="M723.32,92.64l-476.46-30L52.21,86.77,28.89,54.64,46.35,34.55l78.65,12s148-12.1,156.79-12.1,444.4-12.12,444.4-12.12l17.49,28.11-29.12-12-23.28,22.1L717.4,86.75l10.76-2.67,4.72-9.2L727.46,58s-6.08,0-8.11,1.41S716,64.34,716,64.34l6.76,1.4,4-1.86-3.37,7.94H716l-7.44-9.72s10.81-6.81,13.51-8.22,10.14,3.42,12.17,5.53,4.07,19.59,2,21.7S723.3,92.34,723.3,92.34l-.71-.37Z"/></svg>');
			top: -55px;
		}

		&:after {
			background-image: url('data:image/svg+xml;utf8,<svg id="Objects" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 759 115"><defs><style>.cls-1{fill:%236d4f12;}.cls-2{fill:url(%23linear-gradient);}</style><linearGradient id="linear-gradient" x1="-1812.99" y1="-376.86" x2="-1742.68" y2="-376.86" gradientTransform="matrix(0, -1, -1, 0, 3.57, -1720.53)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffe58d"/><stop offset="0.43" stop-color="#ffde94"/><stop offset="1" stop-color="#a3561c"/></linearGradient></defs><title>mid-size_treasure-head</title><path class="cls-1" d="M736.68,68l-7.06-29.12-13-10.38-13.39,4.17s-21.91,32.16-20.62,34.84,18.66,16.08,18.66,16.08,17.38,4.7,19.31,2S736.68,68,736.68,68Z"/><path class="cls-2" d="M716.55,22.52l-476.46,30L45.42,28.4,22.1,60.52l17.46,20.1,78.62-12S266.26,80.71,275,80.72s444.4,12.12,444.4,12.12L736.9,64.73l-29.13,12-23.27-22.1,26.12-26.18,10.76,2.67,4.73,9.15-5.42,16.88s-6.08,0-8.11-1.41-3.38-4.93-3.38-4.93l6.76-1.4L720,51.33l-3.37-7.94H709.2l-7.44,9.72s10.81,6.81,13.51,8.22,10.14-3.42,12.17-5.53,4.07-19.59,2-21.7S716.5,22.86,716.5,22.86l-.71.37Z"/></svg>');
			bottom: -55px;
		}
	}

	@include if-ie {
		&:before, &:after {
			height: 120px;
			width: calc(100% + 100px);
			left: -50px;
		}

		&:before {
			background-image: url('/images/popup-header.png');
			top: -55px;
		}

		&:after {
			background-image: url('/images/popup-footer.png');
			bottom: -55px;
		}
	}

	&-wrapper {
		display: flex;
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: $black;
			opacity: 0;
			transition: opacity .3s ease;
		}

		&.popup-menu {
			&--show, &--showing {
				pointer-events: all;

				&:before {
					opacity: .7;
				}
			}

			&--show, &--showing, &--hide {
				.popup-menu {
					display: flex;
				}
			}

			&--show {
				.popup-menu {
					animation: showPopup .2s $ease-in-out-back .1s forwards;

					&-content {
						animation: showPopupContent .15s $ease-out-back .25s forwards;
					}
				}
			}

			&--showing {
				.popup-menu {
					opacity: 1;

					&-content {
						opacity: 1;
					}
				}
			}

			&--hide {
				&:before {
					opacity: 0;
					transition-delay: .25s;
				}

				.popup-menu {
					animation: hidePopup .3s $ease-in-out-back .1s forwards;

					&-content {
						animation: fadeOut .1s $ease-in-out-expo forwards;
					}
				}
			}
		}
	}

	&-content {
		opacity: 0;
		margin: auto -15px;
		padding: 0 15px;
	    width: calc(100% + 30px);
		max-height: calc(100vh - 240px);
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 6px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 3px;
			background: $grey-dark;
		}
		&::-webkit-scrollbar-thumb:window-inactive {
			background: $grey-dark;
		}
	}

	&-image {
		margin: 0 auto 1rem;

		img {
			max-width: 100%;
			box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.2);
		}
	}

	@media all and (max-width: 320px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.misc-links {
	@include reset-ul;
	line-height: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;

	a {
		color: $red;
		font-weight: bold;
		line-height: 1;
	}

	li {
		display: inline-block;
		position: relative;

		& + li {
			margin-left: 24px;

			&:before {
				content: '';
				background: $red;
				height: 12px;
				width: 1px;
				position: absolute;
				top: calc(50% - 6px);
				left: -12px;
			}
		}
	}
}

.popcorn-logo {
	img {
		max-height: 35vh;
	}
}
