.header {
    &__upper {
		height: $header-h;
        display: flex;
        font-family: $impact;
    }
    &__upper {
        padding-top: 15px;
        padding-bottom: 10px;
    }
    &-title {
        margin-left: auto;
        font-style: italic;
        display: flex;
        align-items: center;

		img {
			width: 100px;
		}
    }
	&-logo {
		img {
			width: 95px;
			will-change: transform;
		}
	}
}
