.home {
    position: relative;
    z-index: 1;

    &-atf {
        padding: 2vmax 0 10vmax;
        min-height: 500px;
        position: relative;
        z-index: 5;

		@include if-ie {
			padding: 2rem 0 10rem;
		}

        p {
            margin: 0;
        }

        .container {
			position: relative;
			z-index: 1;
            > .text-link {
                font-size: 18px;
                font-family: $roboto;
                text-shadow: .08em 0 0 $black;

                @media all and (min-width: $md-start) {
                    font-size: 24px;
                }
            }
        }

        .btn {
            display: block;
            margin: 0 auto 2vmax;

			@include if-ie {
				margin: 0 auto 2rem;
			}
        }

        .floating-popcorn {
            &-container {
                position: absolute;
                width: 100%;
                height: 500px;
                left: 0;
                bottom: 0;
				z-index: 0;
            }
            &-1 {
                top: calc(33% - 1.5vmax - 8px);
                left: calc(88% - 1.5vmax - 8px);
            }
            &-2 {
                top: calc(23% - 1.5vmax - 8px);
                left: calc(82% - 1.5vmax - 8px);
            }
            &-3 {
                top: calc(23% - 1.5vmax - 8px);
                left: calc(21% - 1.5vmax - 8px);
            }
            &-4 {
                top: calc(0% - 1.5vmax - 8px);
                left: calc(19% - 1.5vmax - 8px);
            }
            &-5 {
                top: calc(48% - 1.5vmax - 8px);
                left: calc(13% - 1.5vmax - 8px);
            }

			@include if-ie {
				&-1 {
	                top: calc(33% - 24px);
	                left: calc(88% - 24px);
	            }
	            &-2 {
	                top: calc(23% - 24px);
	                left: calc(82% - 24px);
	            }
	            &-3 {
	                top: calc(23% - 24px);
	                left: calc(21% - 24px);
	            }
	            &-4 {
	                top: calc(0% - 24px);
	                left: calc(19% - 24px);
	            }
	            &-5 {
	                top: calc(48% - 24px);
	                left: calc(13% - 24px);
	            }
			}
        }
    }

    &-logo {
        margin-bottom: 2vmax;


		@include if-ie {
			margin-bottom: 2rem;
		}
    }

    &-total-prize {
        font-size: 48px;

        @media all and (min-width: $sm-start) {
            font-size: 96px;
        }

        @media all and (min-width: $md-start) {
            font-size: 128px;
        }

        margin: 2vmax;

		@include if-ie {
			margin: 2rem;
		}
    }

    &-prizes {
        position: relative;
        z-index: 4;

        &-scroll {
            overflow: hidden;
            padding-top: calc(2vmax + 48px);
            padding-bottom: calc(2vmax + 48px);

			@include if-ie {
				padding-top: 4rem;
				padding-bottom: 4rem;
			}

            .floating-popcorn {
                &-container {
                    position: absolute;
                    width: 100%;
                    height: 500px;
                    left: 0;
                    top: 0;
                }
                &-1 {
                    top: calc(10% - 1.5vmax - 8px);
                    left: calc(58% - 1.5vmax - 8px);
                    @media all and (max-width: $sm-end) {
                        display: none;
                    }
                }
                &-2 {
                    top: calc(33% - 1.5vmax - 8px);
                    left: calc(10% - 1.5vmax - 8px);
                }
                &-3 {
                    top: calc(83% - 1.5vmax - 8px);
                    left: calc(13% - 1.5vmax - 8px);
                }
                &-4 {
                    top: calc(83% - 1.5vmax - 8px);
                    left: calc(83% - 1.5vmax - 8px);
                }
                &-5 {
                    top: calc(43% - 1.5vmax - 8px);
                    left: calc(88% - 1.5vmax - 8px);
                }

				@include if-ie {
					&-1 {
	                    top: calc(10% - 24px);
	                    left: calc(58% - 24px);
	                }
					&-2 {
	                    top: calc(33% - 24px);
	                    left: calc(10% - 24px);
	                }
	                &-3 {
	                    top: calc(83% - 24px);
	                    left: calc(13% - 24px);
	                }
	                &-4 {
	                    top: calc(83% - 24px);
	                    left: calc(83% - 24px);
	                }
	                &-5 {
	                    top: calc(43% - 24px);
	                    left: calc(88% - 24px);
	                }
				}
            }
        }

        &-popcorn {
            position: absolute;
            bottom: calc(100% - 2vmax);
            left: 50%;
            width: 90vmax;
            height: 45.9vmax;
            max-height: 549px;
            max-width: 100%;
            overflow: hidden;
            transform: translate(-50%, 50%);

            @media all and (min-width: $sm-end) {
                bottom: calc(100% - 2vmax + 96px);
            }

			@include if-ie {
				width: 1063px;
				height: 549px;
				bottom: calc(100% - 2rem);

				@media all and (min-width: $sm-end) {
	                bottom: calc(100% + 2rem);
	            }
			}

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: 100%;
                height: 100%;
                max-width: 1063px;
                transform: translateX(-50%);
                background: url('/images/homepage-popcorn-desktop.png') center/contain no-repeat;
            }
        }

        .container {
			width: 90%;
            max-width: 850px;
            padding-top: 48px;
            padding-bottom: 48px;
            background: radial-gradient(circle at center, $brown-light 30%, $brown-dark);
            background-size: 100% 125%;
            background-position: center;
            position: relative;
			box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);

			&:before, &:after {
				content: '';
				position: absolute;
				height: 20vmax;
				width: calc(100% + 20vmax);
                left: -10vmax;
                pointer-events: none;
				background: {
					position: center;
					size: contain;
					repeat: no-repeat;
				}
			}

			&:before {
				background-image: url('data:image/svg+xml;utf8,<svg id="Objects" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 115"><defs><style>.cls-1{fill:%236d4f12;}.cls-2{fill:url(%23linear-gradient);}</style><linearGradient id="linear-gradient" x1="-1534.89" y1="1554.56" x2="-1476.44" y2="1554.56" gradientTransform="matrix(0, 1, 1, 0, -1303.7, 1569.53)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffe58d"/><stop offset="0.43" stop-color="#ffde94"/><stop offset="1" stop-color="#a3561c"/></linearGradient></defs><title>mobile_treasure-head</title><path class="cls-1" d="M452.27,57.14,446.1,82.57l-11.35,9.06L423.06,88s-19.13-28.08-18-30.42,16.29-14,16.29-14,15.17-4.1,16.86-1.76S452.27,57.14,452.27,57.14Z"/><path class="cls-2" d="M435.34,92.22l-217.92-25L67.32,87.33,47.94,60.61,62.45,43.91l65.38,10S239.2,43.85,246.46,43.85,437.73,33.77,437.73,33.77l14.54,23.38-24.22-10L408.69,65.51l21.72,21.77,8.95-2.22,3.93-7.61-4.51-14s-5.06,0-6.74,1.17-2.81,4.1-2.81,4.1l5.62,1.17,3.37-1.59-2.81,6.61h-6.18L423,66.78s9-5.66,11.24-6.84,8.43,2.84,10.12,4.6,3.38,16.29,1.7,18-10.76,9.35-10.76,9.35l-.59-.31Z"/></svg>');
				top: -9.7vmax;
			}

			&:after {
				background-image: url('data:image/svg+xml;utf8,<svg id="Objects" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 115"><defs><style>.cls-1{fill:%236d4f12;}.cls-2{fill:url(%23linear-gradient);}</style><linearGradient id="linear-gradient" x1="-1015.15" y1="1039.56" x2="-956.69" y2="1039.56" gradientTransform="translate(-783.96 -923.54) rotate(-89.97)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffe58d"/><stop offset="0.43" stop-color="#ffde94"/><stop offset="1" stop-color="#a3561c"/></linearGradient></defs><title>mobile_treasure-head</title><path class="cls-1" d="M457.27,68.85,451.1,43.42l-11.35-9.06L428.06,38s-19.13,28.08-18,30.42,16.29,14,16.29,14,15.17,4.1,16.86,1.76S457.27,68.85,457.27,68.85Z"/><path class="cls-2" d="M440.34,33.77l-217.92,25L72.32,38.66,52.94,65.37,67.45,82.08l65.38-10S244.2,82.14,251.46,82.14,442.73,92.22,442.73,92.22l14.54-23.38-24.22,10L413.69,60.48l21.72-21.77,8.95,2.22,3.93,7.61-4.51,14s-5.06,0-6.74-1.17-2.81-4.1-2.81-4.1l5.62-1.17,3.37,1.59-2.81-6.61h-6.18L428,59.2s9,5.66,11.24,6.84,8.43-2.84,10.12-4.6,3.38-16.29,1.7-18S440.34,34,440.34,34l-.59.31Z"/></svg>');
				bottom: -9.7vmax;
			}

			@media all and (min-width: $sm-start) {
				&:before, &:after {
	                height: 120px;
	                width: calc(100% + 100px);
	                left: -50px;
	            }

	            &:before {
	                background-image: url('data:image/svg+xml;utf8,<svg id="Objects" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 759 115"><defs><style>.cls-1{fill:%236d4f12;}.cls-2{fill:url(%23linear-gradient);}</style><linearGradient id="linear-gradient" x1="-1314.31" y1="-570.05" x2="-1244.02" y2="-570.05" gradientTransform="translate(-183.76 1337.47) rotate(90)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffe58d"/><stop offset="0.43" stop-color="#ffde94"/><stop offset="1" stop-color="#a3561c"/></linearGradient></defs><title>mid-size_treasure-head</title><path class="cls-1" d="M743.47,47.15,736.4,76.27l-13,10.38L710,82.46S688.09,50.3,689.38,47.62,708,31.54,708,31.54s17.38-4.7,19.31-2S743.47,47.15,743.47,47.15Z"/><path class="cls-2" d="M723.32,92.64l-476.46-30L52.21,86.77,28.89,54.64,46.35,34.55l78.65,12s148-12.1,156.79-12.1,444.4-12.12,444.4-12.12l17.49,28.11-29.12-12-23.28,22.1L717.4,86.75l10.76-2.67,4.72-9.2L727.46,58s-6.08,0-8.11,1.41S716,64.34,716,64.34l6.76,1.4,4-1.86-3.37,7.94H716l-7.44-9.72s10.81-6.81,13.51-8.22,10.14,3.42,12.17,5.53,4.07,19.59,2,21.7S723.3,92.34,723.3,92.34l-.71-.37Z"/></svg>');
	                top: -50px;
	            }

	            &:after {
	                background-image: url('data:image/svg+xml;utf8,<svg id="Objects" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 759 115"><defs><style>.cls-1{fill:%236d4f12;}.cls-2{fill:url(%23linear-gradient);}</style><linearGradient id="linear-gradient" x1="-1812.99" y1="-376.86" x2="-1742.68" y2="-376.86" gradientTransform="matrix(0, -1, -1, 0, 3.57, -1720.53)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffe58d"/><stop offset="0.43" stop-color="#ffde94"/><stop offset="1" stop-color="#a3561c"/></linearGradient></defs><title>mid-size_treasure-head</title><path class="cls-1" d="M736.68,68l-7.06-29.12-13-10.38-13.39,4.17s-21.91,32.16-20.62,34.84,18.66,16.08,18.66,16.08,17.38,4.7,19.31,2S736.68,68,736.68,68Z"/><path class="cls-2" d="M716.55,22.52l-476.46,30L45.42,28.4,22.1,60.52l17.46,20.1,78.62-12S266.26,80.71,275,80.72s444.4,12.12,444.4,12.12L736.9,64.73l-29.13,12-23.27-22.1,26.12-26.18,10.76,2.67,4.73,9.15-5.42,16.88s-6.08,0-8.11-1.41-3.38-4.93-3.38-4.93l6.76-1.4L720,51.33l-3.37-7.94H709.2l-7.44,9.72s10.81,6.81,13.51,8.22,10.14-3.42,12.17-5.53,4.07-19.59,2-21.7S716.5,22.86,716.5,22.86l-.71.37Z"/></svg>');
	                bottom: -50px;
	            }
			}

            @media all and (min-width: $md-start) {
                padding-top: 96px;
                padding-bottom: 48px;

	            &:before {
	                background-image: url('data:image/svg+xml;utf8,<svg id="Objects" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 946.45 103.54"><defs><style>.cls-1{fill:%236d4f12;}.cls-2{fill:url(%23linear-gradient);}</style><linearGradient id="linear-gradient" x1="-1751.18" y1="1205.91" x2="-1680.88" y2="1205.91" gradientTransform="matrix(0, 1, 1, 0, -731.76, 1769.47)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffe58d"/><stop offset="0.43" stop-color="#ffde94"/><stop offset="1" stop-color="#a3561c"/></linearGradient></defs><title>desktop_treasure-head-leg</title><path class="cls-1" d="M930.47,42.27,923.4,71.39l-13,10.38L897,77.59s-21.91-32.16-20.62-34.84,18.66-16.08,18.66-16.08,17.38-4.7,19.31-2S930.47,42.27,930.47,42.27Z"/><path class="cls-2" d="M910.32,87.77l-576.46-30L39.21,81.89,15.89,49.76,33.35,29.67,112,41.7S360.05,29.6,368.79,29.6s544.4-12.12,544.4-12.12l17.49,28.11-29.12-12-23.28,22.1,26.12,26.18,10.76-2.67L919.88,70l-5.42-16.88s-6.08,0-8.11,1.41S903,59.46,903,59.46l6.76,1.4L913.79,59l-3.37,7.94H903l-7.44-9.72s10.81-6.81,13.51-8.22,10.14,3.42,12.17,5.53,4.07,19.59,2,21.7-12.94,11.24-12.94,11.24l-.71-.37Z"/></svg>');
	            }

	            &:after {
	                background-image: url('data:image/svg+xml;utf8,<svg id="Objects" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 946.45 103.54"><defs><style>.cls-1{fill:%236d4f12;}.cls-2{fill:url(%23linear-gradient);}</style><linearGradient id="linear-gradient" x1="-785.21" y1="239.91" x2="-714.91" y2="239.91" gradientTransform="translate(234.21 -697.77) rotate(-89.97)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffe58d"/><stop offset="0.43" stop-color="#ffde94"/><stop offset="1" stop-color="#a3561c"/></linearGradient></defs><title>desktop_treasure-head-leg</title><path class="cls-1" d="M930.92,63l-7.06-29.12-13-10.38-13.39,4.17s-21.91,32.16-20.62,34.84,18.66,16.08,18.66,16.08,17.38,4.7,19.31,2S930.92,63,930.92,63Z"/><path class="cls-2" d="M910.78,17.48l-576.46,30L39.66,23.36,16.34,55.48,33.8,75.58l78.62-12s248.08,12.09,256.82,12.1,544.4,12.12,544.4,12.12l17.49-28.11L902,71.7,878.73,49.6l26.12-26.18,10.76,2.67,4.73,9.15-5.42,16.88s-6.08,0-8.11-1.41-3.38-4.93-3.38-4.93l6.76-1.4,4.06,1.91-3.37-7.94h-7.44L896,48.07s10.81,6.81,13.51,8.22,10.14-3.42,12.17-5.53,4.07-19.59,2-21.7-12.94-11.24-12.94-11.24l-.71.37Z"/></svg>');
	            }
            }

			@include if-ie {
				&:before, &:after {
	                height: 80px;
	                width: calc(100% + 60px);
	                left: -30px;
	            }

				&:before {
					background-image: url('/images/popup-header-small.png');
					top: -35px;
				}

				&:after {
					background-image: url('/images/popup-footer-small.png');
					bottom: -35px;
				}

				@media all and (min-width: $sm-start) {
					&:before, &:after {
		                height: 120px;
		                width: calc(100% + 100px);
		                left: -50px;
		            }

					&:before {
						background-image: url('/images/popup-header.png');
						top: -55px;
					}

					&:after {
						background-image: url('/images/popup-footer.png');
						bottom: -55px;
					}
				}

				@media all and (min-width: $md-start) {
					&:before {
						background-image: url('/images/popup-header-big.png');
					}

					&:after {
						background-image: url('/images/popup-footer-big.png');
					}
				}
			}
        }

        &-image {
            margin: 2vmax 0;

            img {
                max-width: 100%;
            }

			@include if-ie {
				margin: 2rem 0;
			}
        }
    }

    &-rules {
        position: relative;
        z-index: 5;

        h3 {
            margin-bottom: calc(2vmax + 16px);

			@include if-ie {
				margin-bottom: 3rem;
			}
        }

        ol {
            margin: 0 auto;
            max-width: 750px;
            text-align: left;

            li + li {
                margin-top: 16px;
            }
        }

        .btn {
            margin: 2vmax auto calc(2vmax + 16px);

			@include if-ie {
				margin: 2rem auto 3rem;
			}
        }
    }

    &-footer {
        margin-top: calc(10vmax + 32px);

		@include if-ie {
			margin-top: 14rem;
		}
    }
}

.floating-popcorn {
	position: absolute;
	width: calc(3vmax + 16px);
    height: calc(3vmax + 16px);
    max-width: 60px;
    max-height: 60px;
    background: {
        size: contain;
        position: center;
        repeat: no-repeat;
    }

	@include if-ie {
		width: 48px;
	    height: 48px;
	}

    @for $n from 1 through 5 {
        &-#{$n} {
            background-image: url('/images/popcorn-#{$n}.png');
        }
    }
}

.prize-list {
    @include reset-ul;

    li {
        & + li {
            margin-top: 2vmax;
        }
    }

    p > span {
        display: inline-block;
        position: relative;

        & + span {
            margin-left: 20px;

            &:before {
                content: '+';
                position: absolute;
                left: -15px;
            }
        }
    }

    &-grand {
        h3 {
            color: $yellow;
            text-shadow: .06em .06em 0 $grey-dark;

			img {
				width: 18px;
				margin: 0 10px;
			}
        }
    }

    h4 {
        color: $red;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 4px;
    }
}
