@keyframes popcornReveal {
	from {
		transform: scale(.8);
		opacity: 0;
	}
	66% {
		transform: scale(1.1);
	}
	to {
		transform: none;
		opacity: 1;
	}
}

@keyframes popcornPin {
	0% {
		transform: rotate(6deg) scale(.9);
	}
	25% {
		transform: rotate(-8deg);
	}
	50% {
		transform: rotate(6deg);
	}
	75% {
		transform: rotate(-8deg);
	}
	100% {
		transform: rotate(6deg) scale(.9);
	}
}

@keyframes removePin {
	0% {
		transform: rotate(-6deg) translateX(-10px);
	}
	25% {
		transform: rotate(8deg) translateX(-10px);
	}
	50% {
		transform: rotate(-4deg) translateX(-10px);
	}
	0%, 25% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateX(-10px);
	}
}

@keyframes addPoint {
	16% {
		transform: rotate(-8deg) scale(.9);
	}
	32% {
		transform: rotate(6deg) scale(.9);
	}
	48% {
		transform: rotate(-6deg);
	}
	64% {
		transform: rotate(4deg);
	}
}

@keyframes addPointText {
	0% {
		color: $yellow
	}
	33% {
		transform: scale(1.2);
	}
}

@keyframes addPointParticle-1 {
	16%, 32% {
		opacity: 1;
	}
	32%, 100% {
		transform: rotate(60deg);
	}
	0%, 62%, 100% {
		opacity: 0;
	}
}

@keyframes addPointParticle-2 {
	16%, 32% {
		opacity: 1;
	}
	32%, 100% {
		transform: rotate(-90deg);
	}
	0%, 62%, 100% {
		opacity: 0;
	}
}

@keyframes showPopup {
	from {
		transform: scaleY(.85);
		opacity: 0;
	}
	to {
		transform: scaleY(1);
	}
	70%, 100% {
		opacity: 1;
	}
}

@keyframes hidePopup {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: scaleY(.85);
	}
}

@keyframes showPopupContent {
	from {
		transform: scale(.95);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(10vh);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeOutDown {
	to {
		opacity: 0;
		transform: translateY(10vh);
	}
}

@keyframes growX {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

@keyframes showAnswer {
	from {
		transform: scale(.85);
	}
	25% {
		transform: scale(1.05);
	}
}

@keyframes hideAnswer {
	to {
		transform: scale(.85);
		opacity: 0;
	}
	0%, 30% {
		opacity: 1;
	}
}

@keyframes showDropdown {
	from {
		opacity: 0;
		transform: scaleY(.9) translateY(5px);
	}
	to {
		transform: none;
	}
	75% {
		transform: scaleY(1.05) translateY(0);
	}
	50%, 100% {
		opacity: 1;
	}
}

@keyframes bounceFadeIn {
	from {
		opacity: 0;
		transform: scale(.5)
	}
	to {
		opacity: 1;
	}
	75% {
		transform: scale(1.1);
	}
}

@keyframes bounceFadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: scale(.5)
	}
	25% {
		transform: scale(1.1);
	}
}

@keyframes showPin {
	from {
		transform: translateY(-30px) scale(.9);
	}
	33% {
		transform: translateY(0);
	}
	48% {
		transform: rotate(-12deg);
	}
	68% {
		transform: rotate(6deg);
	}
}

@keyframes levelUnlock {
	0%, 100% {
		transform : none;
	}
	33%, 66% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(-15deg);
	}
	100% {
		opacity: 0;
	}
}

@keyframes levelComplete {
	from {
		transform: scale(.5);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes popcornBox {
	from {
		transform: translate(-50%, 20vmax);
	}
	to {
		transform: translate(-50%, 0);
	}
}

@keyframes popcornBoxHide {
	from {
		transform: translate(-50%, 0);
	}
	to {
		transform: translate(-50%, 20vmax);
	}
}

@keyframes popcornGoX-1 {
	100% {
		transform: translateX(calc(20vmax + 45px));
	}
}

@keyframes popcornGoX-2 {
	100% {
		transform: translateX(calc(-20vmax - 45px));
	}
}

@keyframes popcornGoX-3 {
	100% {
		transform: translateX(calc(25vmax + 90px));
	}
}

@keyframes popcornGoX-4 {
	100% {
		transform: translateX(calc(-25vmax - 90px))
	}
}

@keyframes popcornGoY-1 {
	55%, 60% {
		transform: translateY(calc(-15vmax - 30px));
	}
}

@keyframes popcornGoY-2 {
	50%, 55% {
		transform: translateY(calc(-20vmax - 60px));
	}
}

@keyframes popcornGoY-3 {
	45%, 50% {
		transform: translateY(calc(-25vmax - 90px));
	}
}

@keyframes popcornGoY-4 {
	55%, 60% {
		transform: translateY(calc(-35vmax - 120px));
	}
}

@keyframes popcornFadeOut {
	0%, 50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes popcornSpinLeft {
	to {
		transform: rotate(1turn);
	}
}

@keyframes popcornSpinRight {
	to {
		transform: rotate(-1turn);
	}
}

@keyframes loader {
	0%, 100% {
		transform: scaleX(0);
	}
	45%, 50% {
		transform: scaleX(1);
	}
	0%, 49.99% {
		transform-origin: left;
	}
	50%, 100% {
		transform-origin: right;
	}

}
