.login {
    position: relative;
    z-index: 1;

    .single-page-form {
        > div {
            & + div {
                margin-top: calc(1vmax + 16px);

				@include if-ie {
					margin-top: 2rem;
				}
            }
        }

        .btn {
            margin-top: calc(1vmax + 16px);

			@include if-ie {
				margin-top: 2rem;
			}
        }
    }
    &-register {
        margin-top: calc(2vmax + 16px);

		@include if-ie {
			margin-top: 3rem;
		}
    }
}
