@mixin reset-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@mixin if-ie($exclude_edge: false) {
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }

	@supports (-ms-accelerator:true) {
		@content;
	}

	@if($exclude_edge == false) {
		@supports (-ms-ime-align:auto) {
			@content;
	    }
	}
}
