.receipt {
	position: relative;
	z-index: 1;

	.container {
		padding-top: 1rem;
	}

	h1 {
		margin: 0 0 8px;
		& + p {
			margin: 0 0 calc(1vmax + 16px);
		}
	}

	small {
		display: block;
		text-align: left;
		width: 270px;
		max-width: 100%;
		margin: .5rem auto 1rem;
	}

    &-logo {
        margin-bottom: 1rem;
	}

    &-sample-link {
        display: inline-block;
		margin: 2rem auto;
	}

	&-selection {
		max-width: 550px;
		margin: 0 auto;
	}

	&-input-selection {
		margin-bottom: calc(1vmax + 16px);
	}

	&-input-selection-toggle {
		display: inline-block;
		position: relative;
		z-index: 1;
		font-weight: bold;
		padding-right: 17px;
		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: calc(50% - 6px);
			border: {
				width: 8px 6px;
				color: transparent;
				style: solid;
				top-color: $red;
			}
		}
		&, &:hover, &:focus, &:active {
			color: $red;
			text-decoration: none;
		}
	}

	&-section {

		&--hide {
			&.receipt-selection {
				> * {
					animation: fadeOutDown .2s $ease-in-out-expo forwards;

					&:first-child {
						animation-delay: .1s;
					}
				}
			}
		}

		&--show {
			display: block;

			&.receipt-input {
				> * {
					opacity: 0;
					animation: fadeInUp .2s $ease-in-out-expo forwards;

					&.receipt-input-selection {
						animation-delay: .1s;
					}

					&.receipt-form-container {
						animation-delay: .2s;
					}

					&.btn {
						animation-delay: .3s;
					}
				}
			}
		}
	}

	&-input--toggle-hide, &-input--toggling {
		.receipt-input-selection {
			pointer-events: none;
		}
	}

	&-input--toggle-hide {
		> .receipt-form-container:not(.hide), > .btn {
			animation: fadeOutDown .2s $ease-in-out-expo forwards;
		}
		> .receipt-form-container:not(.hide) {
			animation-delay: .1s;
		}
	}

	&-input--toggling {
		> .receipt-form-container:not(.hide), > .btn {
			animation: none;
			opacity: 0;
		}
	}

	&-input--toggle-show {
		> .btn, .receipt-form-container:not(.hide) {
			animation: fadeInUp .2s $ease-in-out-expo forwards;
		}
		> .btn {
			animation-delay: .1s;
		}
	}

	&-form-container {
		will-change: transform;

		.row {
			> div + div {
				margin-top: 1rem;
			}
		}
		@media all and (min-width: $sm-start) {
			.row {
				> div {
					&:first-child {
						.form-control-wrapper {
							margin-right: 0;
						}
					}
					&:last-child {
						.form-control-wrapper {
							margin-left: 0;
						}
					}

					+ div {
						margin-top: 0;
					}
				}
			}
		}
	}

	&-footer {
		@media all and (min-width: $sm-start) {
			margin-top: 70px;
		}
	}
}

.sample-popup {
	&-title {
		font-weight: bold;
		margin-bottom: 1rem;
	}
	&-subtitle {
		font-weight: bold;
		color: $red;
	}
}
