// Colors
$black: #000000;
$grey-dark: #413B3B;
$grey: #a0a0a0;
$grey-light: #dad9d7;
$yellow: #FBB438;
$brown: #E9D0A7;
$brown-light: #FDDE8C;
$brown-dark: #D9B577;
$blue-fb: #3A579B;

$white: #FFFFFF;
$red: #EF3D23;

// Font family
$impact: 'Impact', sans-serif;
$roboto: 'Roboto Condensed', sans-serif;

// Font weight
$bold: 700;

// Easing
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);

// Break points
// Custom
$xxs-end: 350px;
$xs-end: 575px;
$sm-start: 576px;
$sm-end: 768px;
$md-start: 769px;

// Bootstrap
$xs: $sm-start;
$sm: $sm-end;

// Constants
$header-h: 56px;
$game-header-h: 54px;
$footer-d-h: 50px;
$footer-m-h: 60px;