.popcorn-wrapper {
	opacity: 0;
	animation: {
		timing-function: ease-in-out;
		iteration-count: infinite;
	}
}

.popcorn-image {
	width: calc(2.4vmax + 24px);
	animation: popcornSpinLeft .3s linear .45s infinite;
	will-change: transform;

	@include if-ie {
		display: none;
	}
}

.game-win {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;

	&-wrapper {
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		display: none;

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: $black;
			opacity: 0.7;
			transition: opacity .2s ease;
		}
	}

	&-text {
		position: absolute;
		width: 100%;
		top: calc(50% - 150px);
		text-align: center;
	}

	p {
		font-size: 48px;
		color: $yellow;
		margin: 0;
		letter-spacing: 1px;

		@media all and (max-width: $xxs-end) {
			font-size: 36px;
		}
	}

	&-btn {
		margin-top: 16px;
		opacity: 0;
		pointer-events: none;
		transition: opacity .3s ease;
	}

	&--show {
		&.game-win-wrapper {
			display: block;

			p {
				animation: bounceFadeIn .4s $ease-in-out-back forwards;
			}
		}
	}

	&--showing {
		.game-win-btn {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&--hide {
		&.game-win-wrapper {
			&:before {
				opacity: 0;
				transition-delay: .4s;
			}

			p {
				animation: bounceFadeOut .4s $ease-in-out-back forwards;
			}
		}
		.game-win {
			&-popcorn-box {
				animation: popcornBoxHide .4s $ease-in-out-expo .1s forwards;

				@include if-ie {
					animation: fadeOutDown .4s ease .1s forwards;
				}
			}

			&-popcorn {
				opacity: 0;
			}

			&-btn {
				opacity: 0;
			}
		}
	}

	&-popcorn-box {
		position: absolute;
		z-index: 2;
		bottom: calc(-2vmax - 16px);
		left: 50%;
		transform: translateX(-50%);
		width: calc(12vmax + 200px);
		animation: popcornBox .8s $ease-in-out-back forwards;

		@include if-ie {
			width: 700px;
			bottom: -100px;
			left: calc(50% - 350px);
			transform: none;
			animation: fadeInUp .4s ease;
		}

		img {
			width: 100%;
			transform: rotate(-5deg);
		}
	}

	&-popcorn {
		opacity: 1;
		transition: opacity .2s ease;
		position: absolute;
		z-index: 2;
		pointer-events: none;
		animation: {
			timing-function: ease-in-out;
			iteration-count: infinite;
			delay: .45s;
		}

		&-1 {
			top: 70%;
			left: 50%;
			animation-name: popcornGoX-1;

			&, .popcorn-wrapper {
				animation-duration: .8s;
				animation-delay: .45s;
			}

			.popcorn-wrapper {
				animation-name: popcornGoY-2, popcornFadeOut;
			}
		}

		&-2 {
			top: 70%;
			left: calc(50% - 8vmax);
			animation-name: popcornGoX-1;

			&, .popcorn-wrapper {
				animation-duration: .8s;
				animation-delay: .65s;
			}

			.popcorn-wrapper {
				animation-name: popcornGoY-3, popcornFadeOut;
			}
		}

		&-3 {
			top: 70%;
			left: calc(50% - 7vmax);
			animation-name: popcornGoX-2;

			&, .popcorn-wrapper {
				animation-duration: .8s;
				animation-delay: .55s;
			}

			.popcorn-wrapper {
				animation-name: popcornGoY-2, popcornFadeOut;
			}

			.popcorn-image {
				animation-name: popcornSpinRight;
			}
		}

		&-4 {
			top: 70%;
			left: calc(50% + 5.4vmax);
			animation-name: popcornGoX-2;
			z-index: 3;

			&, .popcorn-wrapper {
				animation-duration: .8s;
				animation-delay: .75s;
			}

			.popcorn-wrapper {
				animation-name: popcornGoY-3, popcornFadeOut;
			}

			.popcorn-image {
				animation-name: popcornSpinRight;
			}
		}

		&-5 {
			top: 75%;
			left: calc(50% - 5vmax);
			animation-name: popcornGoX-1;
			z-index: 3;

			&, .popcorn-wrapper {
				animation-duration: .8s;
				animation-delay: .6s;
			}

			.popcorn-wrapper {
				animation-name: popcornGoY-1, popcornFadeOut;
			}
		}

		&-6 {
			top: 70%;
			left: calc(50% - 6vmax);
			animation-name: popcornGoX-2;

			&, .popcorn-wrapper {
				animation-duration: .8s;
				animation-delay: .45s;
			}

			.popcorn-wrapper {
				animation-name: popcornGoY-1, popcornFadeOut;
			}

			.popcorn-image {
				animation-name: popcornSpinRight;
			}
		}

		&-7 {
			top: 75%;
			left: 50%;
			animation-name: popcornGoX-3;
			z-index: 3;

			&, .popcorn-wrapper {
				animation-duration: 1s;
				animation-delay: .65s;
			}

			.popcorn-wrapper {
				animation-name: popcornGoY-4, popcornFadeOut;
			}
		}

		&-8 {
			top: 70%;
			left: calc(50% + 3.2vmax);
			animation: {
				name: popcornGoX-3;
			}

			&, .popcorn-wrapper {
				animation-duration: .8s;
				animation-delay: .55s;
			}

			.popcorn-wrapper {
				animation-name: popcornGoY-1, popcornFadeOut;
			}
		}

		&-9 {
			top: 75%;
			left: 50%;
			animation-name: popcornGoX-2;
			z-index: 3;

			&, .popcorn-wrapper {
				animation-duration: .8s;
				animation-delay: .55s;
			}

			.popcorn-wrapper {
				animation-name: popcornGoY-4, popcornFadeOut;
			}

			.popcorn-image {
				animation-name: popcornSpinRight;
			}
		}

		&-9 {
			top: 75%;
			left: calc(50% + 2.6vmax);
			animation-name: popcornGoX-2;

			&, .popcorn-wrapper {
				animation-duration: 1s;
				animation-delay: .55s;
			}

			.popcorn-wrapper {
				animation-name: popcornGoY-4, popcornFadeOut;
			}

			.popcorn-image {
				animation-name: popcornSpinRight;
			}
		}

		&-10 {
			top: 75%;
			left: calc(50% - 12vmax);
			animation-name: popcornGoX-4;

			&, .popcorn-wrapper {
				animation-duration: 1s;
				animation-delay: .55s;
			}

			.popcorn-wrapper {
				animation-name: popcornGoY-1, popcornFadeOut;
			}

			.popcorn-image {
				animation-name: popcornSpinRight;
			}
		}
	}
}
